# Build
/build/
/*.zip

# IDE
/.idea/
/nbproject/
/.tern-project
/*.iml

# OS
.DS_Store

# Vendor
/node_modules/
/src/vendor/
3RD-PARTY.md

# Private
.env

# Other
/*.log

# Coverage
.codacy-coverage/
.nyc_output/
.nyc_cache/
coverage/

# Cache
.eslintcache

# Yarn
yarn.lock

