body {
	background-color: #e3e3e3;
	margin:0;
}
h1, h2, h3, h4, h5 {
	color: #D51007;
	font-family: "Lucida Grande",Arial,Helvetica,Verdana,sans-serif;
}
.gray {
   color: #aaa;
}
a {
   color: #000;
   text-decoration: none;
   border-bottom: 1px solid #d51007;
}
a:hover {
   color: #d51007;
}

div#wrapper {
   width: 830px;
   margin: 0 auto;
}
div#wrapper > .left {
   width: 410px;
   float: left;
}
div#wrapper > .right {
   width: 410px;
   float: right;
}

div.container {
	width: 380px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-top: none;
	background-color: white;
	padding: 15px;
}
p, li {
	font-family: "Lucida Grande",Arial,Helvetica,Verdana,sans-serif;
	font-size: 12px;
}

label {
	display:block;
	width:70px;
	float:left;
	margin-top:10px;
	text-align: right;
}

input[type="text"], input[type="password"] {
	background-color: white;
	border: 1px solid #ddd;
	padding: 8px;
	float:left;
}

p.buttons{
	padding-top:8px;
	clear:both;
}

p#cred-status {
	color: #D51007;
	border: 1px dotted #ccc;
	width: 100%;
	font-weight: bold;
	font-size:18px;
	display:none;
}

div.container.about p {
   text-align: justify;
}


.options ul {
   list-style: none;
}
.options label {
   display: inline;
   float: none;
}
.options label[title] {
   border-bottom: 1px dotted #ccc;
}
.options button {
   margin: 15px auto 0 40px;
   line-height: 200%;
}

span#options-status {
   padding-left: 10px;
   font-weight: bold;
}

div.faq h4 {
   margin-bottom: 0;
}

.news h4 {
   margin-bottom: 0;
   padding-bottom: 0;
}
.news ul {
   margin-top: 5px;
}