body {
	margin: 30px 0 0;
}

h2, h3, h4, h5 {
	color: #d51007;
}

a {
	color: #d51007;
}
a:hover {
	color: #b50d07;
}

.contacts li {
	line-height: 40px;
}
.contacts a {
	border-bottom: none;
	color: #000;
	display: inline-block;
	font-size: 1.5em;
	text-decoration: none;
	width: 130px;
}
.contacts a i {
	margin-right: 10px;
}

.toggle {
	font-weight: bold;
}

.conn-config:hover {
	text-decoration: none;
}

.options-block {
	padding-bottom: 10px;
	padding-left: 15px;
}

.btn-link {
	color: #d51007;
	text-decoration: none !important;
}
.btn-link:hover {
	color: #b50d07;
}

.card-body {
	padding-bottom: 0px !important;
}

.btn-primary {
	background-color: #d51007;
	border-color: #d51007;
}
.btn-primary:hover {
	background-color: #b50d07;
	border-color: #b50d07;
}

.close-btn {
	float: none;
}
