body, button, input {
	font-family: "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
}

body {
	margin: 30px 0 0;
}

h1, h2, h3, h4, h5 {
	color: #d51007;
}

.gray {
	color: #aaa;
}

a, a:hover {
	color: #d51007;
}

ul {
	list-style: none;
}

label {
	display: inline-block;
}

input[type=checkbox] {
	margin-top: 0;
}

#contact li {
	line-height: 40px;
}

#contact a {
	border-bottom: none;
	color: #000;
	display: inline-block;
	font-size: 1.5em;
	margin-right: 20px;
	text-decoration: none;
	width: 130px;
}

#contact a i {
	margin-right: 10px;
}

.toggle {
	font-weight: bold;
}

.conn-config, .conn-config:hover {
	border-bottom: none;
	color: #d51007;
	text-decoration: none;
}

.conn-conf-patterns .list-unstyled {
	margin-left: 0;
}

.conn-conf-patterns input {
	width: 450px;
}

.conn-conf-del-input, .conn-conf-del-input:hover {
	border-bottom: none;
	color: #000;
	position: relative;
	text-decoration: none;
	top: -5px;
}

.accordion-toggle {
	text-decoration: none !important;
}

.close-btn {
	background: transparent;
	border: 0;
	color: #000000;
	cursor: pointer;
	filter: alpha(opacity=20);
	opacity: 0.2;
	padding: 0;
	text-shadow: 0 1px 0 #ffffff;
}

.close-btn:hover, .close-btn:focus {
	color: #000000;
	cursor: pointer;
	filter: alpha(opacity=40);
	opacity: 0.4;
	text-decoration: none;
}
