body {
	padding: 10px;
}

a, a:hover {
	color: #d51007;
}

.content {
	width: 290px;
}

.description {
	font-size: 13px;
	text-align: left;
}

.btn-primary {
	background-color: #d51007;
	border-color: #d51007;
}
.btn-primary:hover {
	background-color: #b50d07;
	border-color: #b50d07;
}
