body, button, input {
	font-family: "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
}

body {
	background-color: #fff;
	color: #000;
	font-size: 13px;
	margin: 0;
	padding: 0;
}

a {
	color: #000;
	text-decoration: none;
}

input {
	width: 100%;
}

#wrapper {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 100px 250px;
	min-height: 100px;
	padding: 5px;
}

#album-art {
	background-image: url('/icons/cover_art_default.png');
	background-position: center;
	background-size: cover;
	grid-column: 1;
	grid-row: 1 / 3;
}
#album-art:hover {
	cursor: pointer;
}

#info, #edit {
	grid-column: 2;
	grid-row: 1;
	line-height: 1.5em;
	padding-left: 5px;
	padding-right: 5px;
}

#edit-controls {
	align-self: end;
	grid-column: 2;
	grid-row: 2;
	justify-self: start;
	padding-left: 5px;
}
#edit-controls > * + *:before {
	/* content: '&nbsp;•&nbsp;' */
	content: '\2022\0000a0';
	display: inline-block;
}
#scrobble-controls {
	align-self: end;
	grid-column: 2;
	grid-row: 2;
	justify-self: end;
	padding-right: 5px;
}

.track {
	font-size: 1.2em;
	font-weight: bold;
}
.artist, .album {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.control-btn {
	background: none;
	border: none;
	outline: none;
	padding: 0;
}

.control-btn:hover {
	cursor: pointer;
	text-decoration: underline;
}

#love {
	background: url("/icons/love16.png") 0 0 no-repeat;
	cursor: pointer;
	height: 16px;
	width: 16px;
}

#love:hover {
	background-position-y: -16px;
}

#love[last-fm-loved="true"] {
	background-position-y: -32px;
}

#love[last-fm-loved="true"]:hover {
	background-position-y: -48px;
}

[data-hide="true"] {
	display: none !important;
}
[data-disable="true"] {
	color: #999;
	cursor: default !important;
	text-decoration: none !important;
}
