/**
 * Base styles.
 */

:root {
	--color-accent: #b8422c;
	--color-active: #9e3725;

	--button-border-color: #1b1f2326;
	--shadow-button: 0 0 0 0.2rem #9e372580;
}

a {
	color: var(--color-accent);
	text-decoration: none;
}
a:hover {
	color: var(--color-active);
}

h1,
h2,
h3,
h4,
h5 {
	border-bottom: 1px solid #eaecef;
	font-weight: 600;
	padding-bottom: 0.3rem;
}

.modal-title {
	border-bottom: none;
	padding-bottom: 0rem;
}

/**
 * Bootstrap buttons.
 */

.btn {
	border-radius: 6px;
}

.btn-primary {
	background-color: var(--color-accent);
	border-color: var(--button-border-color);
}

.btn-primary:hover {
	background-color: var(--color-active);
	border-color: var(--button-border-color);
}

.btn-primary:focus {
	background-color: var(--color-active);
	border-color: var(--button-border-color);
	box-shadow: var(--shadow-button);
}

.btn-check:checked + .btn-primary,
.btn-check:active + .btn-primary,
.btn-primary:active,
.btn-primary.active,
.show > .btn-primary.dropdown-toggle {
	background-color: var(--color-active);
	box-shadow: var(--shadow-button);
}

.btn-check:checked + .btn-primary:focus,
.btn-check:active + .btn-primary:focus,
.btn-primary:active:focus,
.btn-primary.active:focus,
.show > .btn-primary.dropdown-toggle:focus {
	box-shadow: var(--shadow-button);
}

.form-check-input:focus {
	border-color: var(--button-border-color);
	box-shadow: var(--shadow-button);
	outline: 0;
}

.form-check-input:checked {
	background-color: var(--color-accent);
	border-color: var(--button-border-color);
}

.form-check-input[type='checkbox']:indeterminate {
	background-color: var(--color-accent);
	border-color: var(--button-border-color);
}

.form-file-input:focus-within ~ .form-file-label {
	border-color: var(--button-border-color);
	box-shadow: var(--shadow-button);
}

.form-switch .form-check-input:focus {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23ce9b92'/%3e%3c/svg%3e");
}
