body, button, input {
	font-family: "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
}
body {
	margin: 30px 0 0;
}
h1 {
	color: #333;
}
h2, h3, h4, h5 {
	color: #d51007;
}
.intro {
	padding: 20px 0;
}
.privacy-policy h1 {
	font-size: 2em;
}
.privacy-policy h2 {
	font-size: 1.5em;
}
.finished {
	display: none;
	font-weight: bold;
}
