h1, h2, h3, h4, h5 {
	color: #d51007;
}
.container {
	margin: auto;
	max-width: 768px;
	padding: 10px;
}
.container h1 {
	font-size: 2em;
}
.container h2 {
	font-size: 1.5em;
}
.finished {
	display: none;
	font-weight: bold;
}

.btn-primary {
	background-color: #d51007;
	border-color: #d51007;
}
.btn-primary:hover {
	background-color: #b50d07;
	border-color: #b50d07;
}
