body {
	margin: 0;
	padding: 20px;
	background: -webkit-radial-gradient(center, circle closest-corner, #e3e3e3 0%, #ededed 100%);
	font-family: "Lucida Grande", Arial, Helvetica, Verdana, sans-serif;
}

h1, h2, h3, h4, h5 {
	color: #d51007;
}

.gray {
	color: #aaa;
}

a {
	text-decoration: none;
	border-bottom: 1px solid #d51007;
	font-size: 0.75em;
	color: #333;
	border: none;
}

a:hover {
	color: #d51007;
}

#wrapper {
	width: 290px;
}
