body, button, input {
	font-family: "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
}

body {
	padding: 10px;
}

a, a:hover {
	color: #d51007;
}

.content {
	width: 290px;
}

.description {
	font-size: 13px;
	text-align: left;
}
