body {
	font-family: "Lucida Grande", Arial, Helvetica, Verdana, sans-serif;
	padding: 10px;
}
.header {
	display: block;
}

.content {
	width: 290px;
}

.description {
	font-size: 13px;
	text-align: left;
}
