body, button, input {
	font-family: "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
}

body {
	background-color: #fff;
	color: #000;
	font-size: 13px;
	margin: 0;
	padding: 0;
}

a {
	color: #000;
	text-decoration: none;
}

input {
	width: 100%;
}

#wrapper {
	min-height: 100px;
	padding: 5px;
	width: 350px;
}

#album-art {
	background-image: url('/icons/default_cover_art.png');
	background-position: center;
	background-size: cover;
	float: left;
	height: 100px;
	overflow: hidden;
	position: relative;
	width: 100px;
}
#album-art:hover {
	cursor: pointer;
}

#info, #edit {
	line-height: 1.5em;
	margin-bottom: 25px;
	margin-left: 110px;
	padding-right: 10px;
}

.metadata {
	display: block;
}
.track {
	font-size: 1.2em;
	font-weight: bold;
}
.artist, .album {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#edit-controls {
	bottom: 5px;
	margin-left: 110px;
	position: absolute;
}
#edit-controls > * + *:before {
	/* content: '•&nbsp;' */
	content: '\2022\0000a0';
	display: inline-block;
}

.control-btn:hover {
	cursor: pointer;
	text-decoration: underline;
}

#scrobble-controls {
	bottom: 5px;
	position: absolute;
	right: 10px;
}

#love {
	background: url("/icons/love16.png") 0 0 no-repeat;
	cursor: pointer;
	display: inline-block;
	height: 16px;
	width: 16px;
}

#love:hover {
	background-position-y: -16px;
}

#love[last-fm-loved="true"] {
	background-position-y: -32px;
}

#love[last-fm-loved="true"]:hover {
	background-position-y: -48px;
}

[data-hide="true"] {
	display: none !important;
}
[data-disable="true"] {
	color: #999;
	cursor: default !important;
	text-decoration: none !important;
}
