/**
	Global / generic elements
*/

body {
	background-color: #FFF;
	font-family: "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	font-size: 12px;
	line-height: 1.5em;
	color: #333;
	margin: 0px;
	padding: 0px;
}

a {
	color: #000;
	text-decoration: none;
}


/**
	Structure
*/

#wrapper {
	width: 360px;
	outline: 1px solid #f00;
}

#wrapper:after {
	display: table;
	clear: both;
	content: "";
}

#info {
	float: left;
	padding: 10px;
	padding-left: 14px;
}


/**
	Elements
*/

#album-art {
	width: 100px;
	height: 100px;
	float: left;
	background-color: #EEE;
	background-image: url('/icons/default_cover_art.png');
	background-size: cover;
	background-position: center;
	position: relative;
	overflow: hidden;
}

.track-link {
	font-weight: bold;
	font-size: 1.2em;
}

.track-info [class^="icon"] {
	opacity: 0.15;
	font-size: 70%;
	position: relative;
}
.track-info *:hover [class^="icon"] {
	opacity: 0.5;
}

.scrobble-controls {
	position: absolute;
	bottom: 8px;
}

/**
	Interactions
*/

#love {
	width: 16px;
	height: 16px;
	cursor: pointer;
	opacity: 0.8;
	display: inline-block;
	background: url("/icons/heart_grey.png") center no-repeat;
	background-size: cover;
}

#love[last-fm-loved="true"] {
	background-image: url("/icons/heart.png");
}

#love:hover {
	opacity: 0.95;
}

#love:active {
	opacity: 1;
}
