.container {
	padding-top: 3rem;
}

.contacts li {
	line-height: 2rem;
}
.contacts a {
	border-bottom: none;
	color: #000;
	display: inline-block;
	font-size: 1.5rem;
	text-decoration: none;
	width: 7.5rem;
}
.contacts a i {
	margin-right: 0.5rem;
}
.contact-link {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.toggle {
	font-weight: bold;
}

.connector-config i,
.connector-config input {
	margin-right: 0.25rem;
}
.connector-config a:hover {
	text-decoration: none;
}

.options-block {
	padding-bottom: 1rem;
	padding-left: 1rem;
}

.patterns-list li {
	margin-bottom: 0.5rem;
}

/*
 * Cards have own padding, so we don't need additional padding,
 * if we use a list group inside of a card body.
 */
.card-list-group {
	margin: 0;
	padding: 0;
}
.card-list-group .list-group-item {
	padding-left: 0;
	padding-right: 0;
}
.card-list-group .list-group-item:first-child {
	padding-top: 0;
}
.card-list-group .list-group-item:last-child {
	padding-bottom: 0;
}

.close-btn {
	float: none;
}

.card-header a:hover {
	color: #d51007;
	text-decoration: none;
}
