.container {
	margin: auto;
	padding: 30px;
}

.contacts li {
	line-height: 40px;
}
.contacts a {
	border-bottom: none;
	color: #000;
	display: inline-block;
	font-size: 1.5em;
	text-decoration: none;
	width: 130px;
}
.contacts a i {
	margin-right: 10px;
}
.contact-link {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.toggle {
	font-weight: bold;
}

.conn-config:hover {
	text-decoration: none;
}

.options-block {
	padding-bottom: 10px;
	padding-left: 15px;
}

/*
 * Cards have own padding, so we don't need additional padding,
 * if we use a list group inside of a card body.
 */
.card-list-group {
	margin: 0px;
	padding: 0px;
}
.card-list-group .list-group-item {
	padding-left: 0px;
	padding-right: 0px;
}
.card-list-group .list-group-item:first-child {
	padding-top: 0px;
}
.card-list-group .list-group-item:last-child {
	padding-bottom: 0px;
}

.close-btn {
	float: none;
}
