.container {
	margin: auto;
	padding: 30px;
}

.contacts li {
	line-height: 40px;
}
.contacts a {
	border-bottom: none;
	color: #000;
	display: inline-block;
	font-size: 1.5em;
	text-decoration: none;
	width: 130px;
}
.contacts a i {
	margin-right: 10px;
}
.contact-link {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.toggle {
	font-weight: bold;
}

.conn-config:hover {
	text-decoration: none;
}

.options-block {
	padding-bottom: 10px;
	padding-left: 15px;
}

.card-body {
	padding-bottom: 0px !important;
}

.close-btn {
	float: none;
}
