@use '../components/util';

body {
	background-color: var(--background);
	color: var(--text);
	font-size: 14px;
	margin: 0;
	padding: 0;
	width: 100%;
}

body,
button,
input {
	font-family: Helvetica, Arial, sans-serif;
}

a {
	color: var(--last-fm);
	text-decoration: none;
}

.settings {
	display: flex;
	// stylelint-disable-next-line unit-no-unknown
	height: 100dvh;
	// stylelint-disable-next-line unit-no-unknown
	min-height: 100dvh;
	overflow: hidden;
	width: 100%;

	&::before {
		background-image: var(--site-image);
		background-position: center;
		background-size: cover;
		content: '';
		filter: blur(15px);
		height: 100%;
		inset: 0;
		opacity: 0.2;
		position: fixed;
		width: 100%;
		z-index: -2;
	}
}

.settingsContentWrapper {
	flex: 1 1 auto;
	overflow-y: auto;
	padding: 0 1.5rem;
	padding-bottom: 1.5rem;
}

@media only screen and (width <= 700px) {
	.settings {
		flex-direction: column-reverse;
	}

	.settingsContentWrapper {
		padding: 0 1rem;
	}
}

.settingsContent {
	h1 {
		font-size: 2.5em;
	}

	h2 {
		font-size: 1.75em;
		margin-top: 1.5em;
	}

	h3 {
		font-size: 1.5em;
		margin-top: 1em;
	}

	h1,
	h2 {
		margin-bottom: 0.5em;
	}

	p {
		max-width: 55ch;
	}
}

.modal {
	background-color: var(--modal-bg);
	border: var(--interactable-border);
	border-radius: 3em;
	color: var(--text);
	height: 80vh;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 80vw;

	@supports #{util.$mobile-supports} {
		border-radius: 0;
		// stylelint-disable-next-line unit-no-unknown
		height: 100dvh;
		margin: 0;
		// stylelint-disable-next-line unit-no-unknown
		max-height: 100dvh;
		max-width: 100vw;
		width: 100vw;
	}

	.modalContent {
		box-sizing: border-box;
		height: 100%;
		overflow: auto;
		padding: 1em;
		width: 100%;
	}

	.modalClose {
		background-color: var(--always-last-fm);
		border-bottom: var(--interactable-border);
		border-left: var(--interactable-border);
		border-right: none;
		border-top: none;
		color: var(--always-light);
		cursor: pointer;
		padding: 0.75em 1.75em 0.5em 1em;
		position: absolute;
		right: 0;
		top: 0;

		@supports #{util.$mobile-supports} {
			padding: 0.75em 1em 0.5em;
		}

		&:hover {
			background-color: var(--always-last-fm-hover);
			color: var(--active-text);
		}
	}
}
