body {
	background-color: var(--background);
	color: var(--text);
	font-size: 14px;
	margin: 0;
	padding: 0;
	width: 100%;
}

body,
button,
input {
	font-family: Helvetica, Arial, sans-serif;
}

a {
	color: var(--last-fm);
	text-decoration: none;
}

.settings {
	display: flex;
	min-height: 100vh;
	overflow: hidden;
	width: 100%;

	&::before {
		background-image: var(--site-image);
		background-position: center;
		background-size: cover;
		content: '';
		filter: blur(15px);
		height: 100%;
		inset: 0;
		opacity: 0.2;
		position: fixed;
		width: 100%;
		z-index: -1;
	}
}

.settingsContentWrapper {
	flex-grow: 1;
	height: 100vh;
	overflow-y: auto;
}

.settingsContent {
	h1 {
		font-size: 2.5em;
	}

	h2 {
		font-size: 1.75em;
		margin-top: 1.5em;
	}

	h3 {
		font-size: 1.5em;
		margin-top: 1em;
	}

	h1, h2 {
		margin-bottom: 0.5em;
	}

	p {
		max-width: 55ch;
	}
}


.modal {
	background-color: var(--modal-bg);
	border: none;
	border-radius: 3em;
	color: var(--text);
	height: 80vh;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 80vw;

	.modalContent {
		box-sizing: border-box;
		height: 80vh;
		overflow: auto;
		padding: 1em;
		width: 80vw;
	}

	.modalClose {
		background-color: var(--always-last-fm);
		border: none;
		color: var(--always-light);
		cursor: pointer;
		padding: 0.75em 1.75em 0.5em 1em;
		position: absolute;
		right: 0;
		top: 0;

		&:hover {
			background-color: var(--always-last-fm-hover);
		}
	}
}
