/**
 * Generic.
 */

body, button, input {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

body {
	background-color: #fff;
	color: #000;
	font-size: 13px;
	margin: 0px;
	overflow: hidden;
	padding: 0px;
}

a {
	color: #000;
	text-decoration: none;
}

input {
	width: 219px;
}

/**
 * Containers.
 */

.main-container {
	display: grid;
	grid-template-columns: 136px 244px;
	min-height: 136px;
}

.popup-container {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 244px;
	grid-template-rows: auto auto;
	margin: 5px;
	margin-left: 10px;
}

.debug-container {
	margin-left: 10px;
	max-width: 380px;
}

/**
 * Controls.
 */

.album-art {
	grid-column: 1;
	grid-row: 1;
	height: 136px;
	width: 136px;
}

.album-art:hover {
	cursor: pointer;
}

.edit-fields,
.info-fields {
	grid-column: 1;
	grid-row: 1;
	line-height: 1.5em;
	margin-right: 10px;
	padding-right: 5px;
}

.edit-controls {
	align-self: end;
	grid-column: 1;
	grid-row: 2;
	justify-self: start;
}

.edit-controls > * + *:before {
	/* content: '&nbsp;•&nbsp;' */
	content: '\2022\0000a0';
	display: inline-block;
}

.scrobble-controls {
	align-self: end;
	grid-column: 1;
	grid-row: 2;
	justify-self: end;
	margin-right: 18px;
}

.artist, .album, .track {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.track {
	font-weight: 600;
}

.control-btn {
	background: none;
	border: none;
	outline: none;
	padding: 0;
}

.control-btn:hover {
	cursor: pointer;
	text-decoration: underline;
}

.love-btn {
	cursor: pointer;
	font-family: 'Font Awesome 5 Free', serif;
	font-size: 1rem;
}

.unloved::before {
	color: #999;
	content: '\f004';
}

.unloved:hover::before {
	color: #d510077f;
	content: '\f004';
}

.loved::before {
	color: #d51007;
	content: '\f004';
}

.loved:hover::before {
	color: #d51007;
	content: '\f7a9';
}

/**
 * Tags.
 */

.tags {
	margin-top: 4px;
	white-space: nowrap;
}

.tag {
	background-color: #247ba0;
	border-radius: 3px;
	color: white;
	display: inline-block;
	font-size: 0.75rem;
	height: 20px;
	padding: 0 5px;
}

.counter::before {
	content: '\f202';
	font-family: 'Font Awesome 5 Brands', serif;
}

/**
 * Helpers.
 */

[data-hide='true'] {
	display: none !important;
}
[data-disable='true'] {
	color: #999;
	cursor: default !important;
	text-decoration: none !important;
}
