name: Build
on:
  push:
    branches: [master]
  pull_request:
    types: [opened, synchronize]
jobs:
  build-chrome:
    name: Build the extension for Chrome
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3

      - name: Get Node.js version from .nvmrc
        run: echo "NODE_VERSION=$(cat .nvmrc)" >> $GITHUB_ENV

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '${{ env.NODE_VERSION }}'

      - name: Install dependencies
        run: npm ci

      - name: Build the extension
        run: |
          npm run build chrome

      - name: Upload the extension as an artifact
        uses: actions/upload-artifact@v3
        with:
          name: web-scrobbler-chrome
          path: build/chrome

  build-firefox:
    name: Build the extension for Firefox
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3

      - name: Get Node.js version from .nvmrc
        id: get-node-version
        run: echo "NODE_VERSION=$(cat .nvmrc)" >> $GITHUB_ENV

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '${{ env.NODE_VERSION }}'

      - name: Install dependencies
        run: npm ci

      - name: Build the extension
        run: |
          npm run build firefox

      - name: Upload the extension as an artifact
        uses: actions/upload-artifact@v3
        with:
          name: web-scrobbler-firefox
          path: build/firefox

  build-safari:
    name: Build the extension for Safari
    runs-on: macos-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3

      - name: Get Node.js version from .nvmrc
        run: echo "NODE_VERSION=$(cat .nvmrc)" >> $GITHUB_ENV

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '${{ env.NODE_VERSION }}'

      - name: Install dependencies
        run: npm ci

      - name: Build the extension
        run: |
          npm run build safari

      - name: Upload the extension as an artifact
        uses: actions/upload-artifact@v3
        with:
          name: web-scrobbler-safari
          path: build/safari
