name: Deploy

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  deploy-chrome:
    name: Deploy Chrome extension
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3

      - name: Get Node.js version from .nvmrc
        run: echo "NODE_VERSION=$(cat .nvmrc)" >> $GITHUB_ENV

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '${{ env.NODE_VERSION }}'

      - name: Install dependencies
        run: npm ci

      - name: Create zipball
        run: npm run dist chrome

      - name: Publish the extension for Chrome
        uses: trmcnvn/chrome-addon@v2
        with:
          extension: hhinaapppaileiechjoiifaancjggfjm
          zip: web-scrobbler-chrome.zip
          client-id: ${{ secrets.CHROME_CLIENT_ID }}
          client-secret: ${{ secrets.CHROME_CLIENT_SECRET }}
          refresh-token: ${{ secrets.CHROME_REFRESH_TOKEN }}

  deploy-firefox:
    name: Deploy Firefox extension
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3

      - name: Get Node.js version from .nvmrc
        run: echo "NODE_VERSION=$(cat .nvmrc)" >> $GITHUB_ENV

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '${{ env.NODE_VERSION }}'

      - name: Install dependencies
        run: npm ci

      - name: Create zipball
        run: npm run dist firefox

      - name: Publish the extension for Firefox
        uses: yayuyokitano/firefox-addon@v0.0.6-alpha
        with:
          api_key: ${{ secrets.AMO_ISSUER }}
          api_secret: ${{ secrets.AMO_SECRET }}
          guid: '{799c0914-748b-41df-a25c-22d008f9e83f}'
          xpi_path: web-scrobbler-firefox.zip
          src_path: web-scrobbler-src.zip

  deploy-edge:
    name: Deploy Edge extension
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3

      - name: Get Node.js version from .nvmrc
        run: echo "NODE_VERSION=$(cat .nvmrc)" >> $GITHUB_ENV

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '${{ env.NODE_VERSION }}'

      - name: Install dependencies
        run: npm ci

      - name: Create zipball
        run: npm run dist chrome

      - name: Get version from package
        run: echo "PACKAGE_VERSION=$(jq .version package.json -r)" >> $GITHUB_ENV

      - name: Publish the extension for Edge
        uses: inverse/edge-addon@v1.0.8
        with:
          product_id: ${{ secrets.EDGE_PRODUCT_ID }}
          client_id: ${{ secrets.EDGE_CLIENT_ID }}
          client_secret: ${{ secrets.EDGE_CLIENT_SECRET }}
          access_token_url: ${{ secrets.EDGE_ACCESS_TOKEN_URL }}
          zip: web-scrobbler-chrome.zip # Compatible with Chrome
          notes: 'Version ${{ env.PACKAGE_VERSION }} upload'
          debug: true
