name: PR Labels

on:
  pull_request_target:
    types:
      - opened
      - labeled
      - unlabeled
      - synchronize

jobs:
  pr_labels:
    name: Verify
    runs-on: ubuntu-latest
    steps:
      - name: Ensure PR have labels
        uses: jesusvasquez333/verify-pr-label-action@v1.4.0
        with:
          pull-request-number: '${{ github.event.pull_request.number }}'
          github-token: '${{ secrets.GITHUB_TOKEN }}'
          valid-labels: >-
            maintenance, fixed, updated, added, skip-changelog,
            major-change, minor-change, patch-change
          disable-reviews: true
