name: test
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - name: Run npm install, npm test
      run: |
        npm install
        npm run test-with-coverage
      env:
        CI: true
